<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Brad Horrocks</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>4nf6aB6lEi9mDBAWikKJKpVPiD53vOdR5sa0rV2ql9AJOjQNVS8jp+0wSeJAYsB/</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>gCbStI:070a619d3eb05ad2be1f8955f6e6a5b5ed297d33ecc84bec469af5912072e1db</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>bradhorrocks@attask.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>