<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Joel Johnson</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>VkRWLX3wVxSBphpP6R1V7RcdartbdLFkUFfkO2Z0m/UJOjQNVS8jp+0wSeJAYsB/</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>joIGvz:a629c38276e47e1b13e477aa469ef39e5971b25ff146304858a3c26f93c1100e</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>joeljohnson@attask.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>